.blogpost-description div p a{
  width:100%;
}
.blogpost-description img{
  width: 100%;
  max-width: 500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

small {
  margin-left: .5em;
  display:inline-block;
}

.tags {
  margin-top: 2em;
}

.dean-container {
  display:flex;
  height: 200px;
  align-items: center;
}

.dean-text{
  margin-left: 40px;
  margin-bottom: 0px;
}

.dean-img {
  display:inline-block;
  border-radius: 50%;
  width: 150px;
  min-width: 150px;
  height: 150px;
  background-image: url("/images/dean-greyscale.jpeg");
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-position: 55%;
}

.post-img {
  max-width: 300px;
  height: 200px;
  background-size:cover;
  background-position: 50%;
  margin-bottom: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dean-text-small {
  font-size: 1.5em;
  width:100%;
  text-align: center;
  display:none;
  margin-bottom: 10px;
}

.social-list{
  display:inline-block;
  position: relative;
}

.social-list-text{
  opacity: 0;
  margin-left:1em;
  display:inline;
  position: absolute;
  visibility: hidden;
  transition-duration: 0.5s;
  top:22px;
  left:110px;
}

#social-wrapper #email-icon:hover ~ #email-text { visibility: visible; opacity: 1}
#social-wrapper #github-icon:hover ~ #github-text { visibility: visible; opacity: 1}
#social-wrapper #resume-icon:hover ~ #resume-text { visibility: visible; opacity: 1}
#social-wrapper #linkedin-icon:hover ~ #linkedin-text { visibility: visible; opacity: 1}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}


@media (max-width: 495px) {
  .dean-text {
    display:none;
  }
  .dean-text-small {
    display:block;
  }
  .dean-img {
    margin-left:auto;
    margin-right:auto;
  }
}
