<div class="dean-container"><div class="dean-img"></div><h2 class="module-title font-alt dean-text">Howard Dean Watts</h2></div>
<h2 class="module-title font-alt dean-text-small">Howard Dean Watts</h2>
<p>I'm a software developer based in Manhattan. I specialize in web applications and have built apps with <a href="http://rubyonrails.org/">Rails</a>, <a href="http://emberjs.com">Ember</a>, <a href="http://perl.org">Perl</a>, and <a href="http://www.adobe.com/products/coldfusion-family.html">ColdFusion</a> in professional environments.</p>
<ul class="social-list">
  <li><a href="http://github.com/hdwatts"><i class="fa fa-github"></i></a></li>
  <li><a href="http://learn.co/hdwatts/resume"><i class="fa fa-file-text-o"></i></a></li>
  <li><a href="mailto:howard@hdwatts.com"><i class="fa fa-envelope"></i></a></li>
</ul>
{{outlet}}