<div class="dean-container"><div class="dean-img"></div><h2 class="module-title font-alt dean-text">Howard Dean Watts</h2></div>
<h2 class="module-title font-alt dean-text-small">Howard Dean Watts</h2>
<p>I'm a software developer based in Manhattan, currently working for <a href="http://http://www.structuredweb.com/">StructuredWeb</a>!</p>
<p>I specialize in web applications and have built apps with <a href="https://www.microsoft.com/net">.NET</a>, <a href="http://rubyonrails.org/">Rails</a>, <a href="http://emberjs.com">Ember</a>, <a href="http://perl.org">Perl</a>, and <a href="http://www.adobe.com/products/coldfusion-family.html">ColdFusion</a> in professional environments.</p>
<p>Feel free to reach out to me anytime at <a href="http://github.com/hdwatts">howard@hdwatts.com</a>, and on any of the platforms below.</p>
<ul class="social-list" id="social-wrapper">
  <li id="github-icon"><a href="http://github.com/hdwatts"><i class="fa fa-github"></i></a></li>
  <li id="resume-icon"><a href="http://learn.co/hdwatts/resume"><i class="fa fa-file-text-o"></i></a></li>
  <li id="linkedin-icon"><a href="http://linkedin.com/in/hdwatts"><i class="fa fa-linkedin-square"></i></a></li>
  <li id="email-icon"><a href="mailto:howard@hdwatts.com"><i class="fa fa-envelope"></i></a></li>
  <div class="social-list-text" id="email-text">howard@hdwatts.com</div>
  <div class="social-list-text" id="resume-text">Resume</div>
  <div class="social-list-text" id="github-text">GitHub</div>
  <div class="social-list-text" id="linkedin-text">Linkedin</div>
</ul>
<hr>
{{outlet}}